.player {
  width: 100px;
  height: 85px;
  padding-top: 16px;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  background-color: lightgray;
  border-bottom-right-radius: 80px;
  border-bottom-left-radius: 80px;
  span {
    font-size: 14px;
    font-weight: 600;
  }
  img {
    margin-top: 8px;
    width: 75px;
    height: 75px;
    object-fit: contain;
    border-radius: 100%;
  }
}

.player-active {
  background-color: #7b1fa2;
}
